{% extends 'base.html' %}

{% block body %}

{% if movies %}

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
</style>

    <table>
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Movie Name</th>
                <th>Genre</th>
                <th>Director</th>
            </tr>
        </thead>

        <tbody>

            {% for row in movies %}
	          <tr>

                <td> {{ row.movieId }}</td>
                <td> {{ row.movie_name }}</td>
                <td> {{ row.genre }}</td>
                <td> {{ row.director }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<p><a href="{{ url_for('.add_movie')}}"> Add a new friend</a></p>

{% endblock %}
